---
# files: 'directory1/directory2'

default_install_hook_types:
    - commit-msg
    - prepare-commit-msg
    - pre-commit
    - pre-merge-commit
    - pre-push
    - pre-rebase
    - post-checkout
    - post-commit
    - post-merge
    - post-rewrite

repos:
    - repo: https://github.com/tsvikas/sync-with-uv
      rev: v0.4.0 # replace with the latest version
      hooks:
          - id: sync-with-uv

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          # General
          - id: check-added-large-files
          - id: check-case-conflict
          - id: check-executables-have-shebangs
          - id: check-merge-conflict
          - id: check-symlinks
          - id: check-toml
          - id: check-xml
          - id: check-yaml
          - id: detect-private-key
          - id: double-quote-string-fixer
          - id: end-of-file-fixer
          - id: fix-byte-order-marker
          - id: mixed-line-ending # Replaces or checks mixed line ending.
          - id: trailing-whitespace

          # Json
          - id: check-json
          - id: pretty-format-json # Checks that all your JSON files are pretty.

          # Python
          - id: check-ast # Check whether files parse as valid python.
          - id: check-builtin-literals # Require literal syntax when initializing empty or zero Python builtin types.
          - id: check-docstring-first
          - id: debug-statements # Check for debugger imports and py37+ breakpoint() calls in python source.
          - id: name-tests-test # Assert that files in tests/ end in _test.py, or optionally test*.py
          - id: requirements-txt-fixer

    # General

    - repo: https://github.com/lycheeverse/lychee.git
      rev: nightly
      hooks:
          - id: lychee
            args: ["--cache", "--suggest"]

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v4.0.0-alpha.8
      hooks:
          - id: prettier
            stages: [pre-commit]

    # Git

    - repo: https://github.com/jorisroovers/gitlint
      rev: v0.19.1
      hooks:
          - id: gitlint

    - repo: https://github.com/commitizen-tools/commitizen
      rev: v4.8.3
      hooks:
          - id: commitizen
            stages: [commit-msg]

    # Python

    - repo: https://github.com/econchick/interrogate
      rev: 1.7.0
      hooks:
          - id: interrogate
            args:
                - --verbose

    - repo: https://github.com/ikamensh/flynt/
      rev: "1.0.6"
      hooks:
          - id: flynt

    - repo: https://github.com/dosisod/refurb
      rev: v2.1.0
      hooks:
          - id: refurb

    - repo: https://github.com/HunterMcGushion/docstr_coverage
      rev: v2.3.2
      hooks:
          - id: docstr-coverage
            args: ["--verbose", "4", "."]
            always_run: false

    - repo: https://github.com/MarcoGorelli/auto-walrus
      rev: 0.3.4
      hooks:
          - id: auto-walrus

    - repo: https://github.com/RobertCraigie/pyright-python
      rev: v1.1.403
      hooks:
          - id: pyright

    - repo: https://github.com/asottile/add-trailing-comma
      rev: v3.2.0
      hooks:
          - id: add-trailing-comma
            args:
                - --py36-plus

    - repo: https://github.com/PyCQA/bandit
      rev: 1.8.6
      hooks:
          - id: bandit

    - repo: https://github.com/asottile/dead
      rev: v2.1.0
      hooks:
          - id: dead

    - repo: https://github.com/jendrikseipp/vulture
      rev: v2.14
      hooks:
          - id: vulture

    - repo: https://github.com/hadialqattan/pycln
      rev: v2.5.0 # Possible releases: https://github.com/hadialqattan/pycln/releases
      hooks:
          - id: pycln

    - repo: https://github.com/MarcoGorelli/absolufy-imports
      rev: v0.3.1
      hooks:
          - id: absolufy-imports

    - repo: https://github.com/pre-commit/pygrep-hooks
      rev: v1.10.0
      hooks:
          - id: python-check-blanket-noqa
          - id: python-check-blanket-type-ignore
          - id: python-check-mock-methods
          - id: python-no-eval
          - id: python-no-log-warn
          - id: python-use-type-annotations
          - id: rst-backticks
          - id: rst-directive-colons
          - id: rst-inline-touching-normal
          - id: text-unicode-replacement-char

    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.17.1
      hooks:
          - id: mypy

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.14.3
      hooks:
          - id: ruff-check
            args: [--fix, --force-exclude, --exit-non-zero-on-fix]
            types_or: [python, pyi, jupyter] # Run on notebooks too.
          - id: ruff-format
            types_or: [python, pyi, jupyter] # Run on notebooks too.

    # YAML

    - repo: https://github.com/adrienverge/yamllint
      rev: v1.37.1
      hooks:
          - id: yamllint
            args: [-c=.yamllint.yml]

    # SQL

    - repo: https://github.com/sqlfluff/sqlfluff
      rev: 3.4.2
      hooks:
          - id: sqlfluff-lint
          # For dbt projects, this installs the dbt "extras".
          # You will need to select the relevant dbt adapter for your dialect
          # (https://docs.getdbt.com/docs/available-adapters):
          # additional_dependencies: ['<dbt-adapter>', 'sqlfluff-templater-dbt']
          - id: sqlfluff-fix
          # Arbitrary arguments to show an example
          # args: [--rules, "L003,L014"]
          # additional_dependencies: ['<dbt-adapter>', 'sqlfluff-templater-dbt']

    # Mixed

    - repo: https://github.com/kraymer/cesar
      rev: v1.0.0
      hooks:
          - id: cesar

    - repo: https://github.com/jumanjihouse/pre-commit-hooks
      rev: 3.0.0
      hooks:
          - id: script-must-have-extension
          - id: script-must-not-have-extension

    - repo: https://github.com/scop/pre-commit-shfmt
      rev: v3.12.0-2
      hooks:
          - id: shfmt

    - repo: https://github.com/koalaman/shellcheck-precommit
      rev: v0.11.0
      hooks:
          - id: shellcheck
            args: [--external-sources, --format=gcc, --shell=bash]

    - repo: https://github.com/Lucas-C/pre-commit-hooks
      rev: v1.5.5
      hooks:
          - id: remove-crlf
          - id: remove-tabs
            exclude: .git/COMMIT_EDITMSG

    - repo: https://github.com/sirosen/check-jsonschema
      rev: 0.33.2
      hooks:
          - id: check-github-actions
          - id: check-github-workflows
          - id: check-readthedocs

    - repo: https://github.com/zricethezav/gitleaks
      rev: v8.28.0
      hooks:
          - id: gitleaks

    - repo: https://github.com/rhysd/actionlint
      rev: v1.7.7
      hooks:
          - id: actionlint

    - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
      rev: 3.2.1
      hooks:
          - id: editorconfig-checker

    - repo: https://github.com/MarcoGorelli/cython-lint
      rev: v0.16.7
      hooks:
          - id: cython-lint

    - repo: https://github.com/bridgecrewio/checkov/
      rev: 3.2.458
      hooks:
          - id: checkov

    - repo: https://github.com/igorshubovych/markdownlint-cli
      rev: v0.45.0
      hooks:
          - id: markdownlint
